// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Rubik', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//

$primary: black; // buttons, menu, font color
$secondary: #b83280; // bg-pink-700: hovers buttons, 
$background:#edf2f7; //border-gray-200
$outline: #718096; //focus input, outlines
$danger: #c53030; //red-700

// $success:
// $warning
// info
// light