// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
// @import '~bootstrap/scss/bootstrap';


// Variables
@import 'variables';

@tailwind base;

@tailwind components;

@tailwind utilities;


body, a, p, h1, h2, h3, h4, h5, h6{
    font-family: $font-family-sans-serif;
}

// bug fixes for algolia https://www.youtube.com/watch?v=_nSzMDx79Ao minute 57
.ap-footer svg {
    display: inline;
}

.ap-suggestion-icon svg{
    @apply inline-block;
    @apply -mt-3;
}

.dropdown:hover>.dropdown-content {
    display: block;
}

.max-w-7xl {
    max-width: 80rem;
}


ul.pagination {
    padding-top: 15px;
    display: flex;    
    @apply justify-center;
    li{
        display: inline;
        a.page-link {
            @apply text-gray-600;
            @apply px-3;
        }
        a.page-link:hover {            
            @apply text-pink-800;
        }
    }
    li.disabled {
        @apply text-gray-500;
    }
}

@import 'components/verify-email';
@import 'components/checkbox';
@import 'components/arrow';
@import 'components/buttons';
@import 'components/data-list';
@import 'components/forms';
@import 'components/alerts';