.kirby-errors {
    width: 100%; //w-full
    margin-bottom: 1.5rem; //mb-6    
    ul {
        width: 100%; //w-full
        color: white; //text-white
        padding: 1rem;
        list-style-type: disc; //list-disc
        padding-left: 1.5rem; //pl-6
        background-color: $danger;        
    }
}


