.line-container {
    display: flex;
    width: 100%;
    //margin: 20px auto;
    align-items: center;

    .line {
      flex-grow: 1;
      height: 1px;
      background: black;
      position: relative;
    }
    
    .line.arrow-right:after {
      position: absolute;
      content: '';
      bottom: -5px;
      right: 0;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid gray;
    }
    
    .line.arrow-left:after {
      position: absolute;
      content: '';
      top: -5px;
      left: 0;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 5px solid gray;
    }
    
    label {
      margin: 0 15px;
    }
  }
  