@mixin btn-style {
    display: inline-flex; //inline-flex
    align-items: center; //items-center
    color: white; //text-white
    padding: 0.5rem 1rem; //px-4 py-2
    font-size: .875rem; //text-sm
    line-height: 1.5rem; //leading-5
    margin: 0 0.5rem; //mx-2
    font-weight: 500; //font-medium
    border-radius: 0.25rem;
}


a {
    display: inline-flex; //inline-flex
    align-items: center; //items-center
    @apply text-gray-700; 
    &:hover{
        @apply text-pink-800;
    }
}


.kirby-btn-default {
    color: white;
}

.kirby-btn-default:hover {
    color: white;
}

.kirby-btn-edit {
    @include btn-style;
    background-color: $primary;
}

.kirby-btn-edit:hover { background-color: $secondary; }

.kirby-btn-delete {
    @include btn-style;
    background-color: $danger;
}

.kirby-btn-delete:hover { background-color: darken($danger, 10%); }