ul.data-list {
    li{
        background-color: white; //bg-white
        border-bottom-width: 1px; //border-b
        padding: 0.5rem;               
    }
    li:first-child{
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
    li:last-child{
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }
    li:hover {
        background-color: #f7fafc;
    }
}

