.kirby-form {
    width: 100%;
    margin-bottom: 2.5rem;

    label {
        display: block; //block
        text-transform: uppercase; //uppercase
        font-weight: bold; // font-bold
        letter-spacing: 0.025em; //tracking-wide
        margin-bottom: 0.5rem; //mb-2
        font-size: .75rem; //text-xs  
        @apply text-gray-800;
    }

    input[type=text],
    input[type=number],
    input[type=date],
    input[type=email],
    input[type=password],
    select,
    textarea {
        width: 100%; //w-full
        background-color: white; //bg-white        
        padding: 0.5rem 1rem; //py-3 px-4
        appearance: none; //appearance-none
        line-height: 1.25; //leading-tight  
        border-width: 1px; //border
        //border-color: $background; //border-gray-200       
        @apply border-gray-400; 
        border-radius: 0.25rem;
    }

    input[type=text]:focus,
    input[type=number]:focus,
    input[type=date]:focus,
    input[type=email]:focus,
    input[type=password]:focus,
    select:focus,
    textarea:focus {
        outline: 0;
        border-color: $outline;        
    }

    input[type=text].field-error,
    input[type=number].field-error,
    input[type=date].field-error,
    input[type=email].field-error,
    input[type=password].field-error,
    select.field-error,
    textarea.field-error {
        border-width: 2px; 
        @apply border-red-600;
    }

    button[type=submit] {
        display: inline-flex;
        align-items: center; //items-center
        color: white; //text-white
        border-width: 1px; //border
        background-color: black; //bg-black
        border-color: transparent; //border-transparent
        font-size: .875rem; //text-sm
        line-height: 1.25rem; //leading-5
        font-weight: 500; //font-medium
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
    }

    button:focus {
        outline: 0;
    }

    button[type=submit]:hover {
        background-color: $secondary;
    }

    .invalid-feedback {
        @apply text-red-600;
        @apply text-sm;
        @apply italic;
    }
}
